{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Movie{% endblock %}

{% block content %}
<div class="form-container">
  <h1>Edit {{ movie.title }}</h1>
  <form method="POST" novalidate>
    {{ form.hidden_tag() }}
    
    {{ form.rating.label(class="form-label") }}
    {{ form.rating(class="form-control", placeholder="e.g. 7.5") }}
    
    {{ form.review.label(class="form-label") }}
    {{ form.review(class="form-control", placeholder="e.g. A masterpiece!") }}
    
    {{ form.submit(class="btn-submit") }}
  </form>
</div>
{% endblock %}