{% extends 'base.html' %}

{% block title %}Select a Movie{% endblock %}

{% block content %}
<h1 class="page-heading">Select a Movie</h1>
<p>We found these results for your search. Click the one you want to add.</p>
<div class="select-list">
  {% for movie in movies %}
    <a href="{{ url_for('select', id=movie.id) }}">
      <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }} Poster">
      <div>
        <div class="title">{{ movie.title }}</div>
        <span>{{ movie.release_date.split('-')[0] }}</span>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}